@import '../../themes/colors';

@visible-height : calc(~"100vh - 64px");
@content-height : calc(~"100vh - 64px - 50px");

.layout{
  position: relative;
  height:100vh;

  .header{
    height:64px;
    .logo{
      float:left;
      height:100%;
      display:flex;
      align-items: center;
      img{
        width: 32px;
        height: 32px;
        margin-right:10px;
      }
      h2{
        color:#6abbf5;
        margin-right:80px;
        cursor: pointer;
      }
      h2:hover{
        color:@blue;
      }
    }

    :global {
      .ant-menu-horizontal{
        border-bottom: none;
        display:inline-block;
      }
    }

    .user{
      color:@white;
      float:right;
      .logout{
        cursor: pointer;
        &:hover{
          color:@blue;
        }
      }
    }
  }

  .container{
    display: flex;
    background-color: @background-color;
    .slider{
      height:@visible-height;
      width: 270px;
    }

    .content{
      width: 100%;
      min-height:@content-height;
      background-color: @white;
      margin:10px;
      //padding:25px;
    }
  }


}
